<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="/static/css/tiny-slider.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<title>Tiranga Mudra</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="index.html">2047 Tiranga Mudra<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
						<li><a class="nav-link" href="about.html">About us</a></li>						
						<li><a class="nav-link" href="#">Our Goals</a></li>
						<li><a class="nav-link" href="about.html">About</a></li>
						<li><a class="nav-link" href="#">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="#"><img src="/static/images/user.svg"></a></li>
					</ul>
				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>1947 To 2047<span clsas="d-block"> Voice of Youth</span></h1>
								<!-- <p class="mb-4">..</p> -->
								<!-- <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p> -->
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="/static/images/Indian-flag67.png" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Our Motive - Viksit Bharat @2027</h2>
						<h5>हम यहाँ पूरे विश्व की सभी दिशाओं में फैले प्रत्येक तिरंगा धारी व्यक्तियों से एक डिजिटल तिरंगा डोनेशन चाहते हैं।</h5>
						<div class="row my-5">
							<div class="">								
								<h6>डोनेशन के पीछे की भावना कुछ इस प्रकार रखें कि आपका एक-एक छोटा तिरंगा आपस मे मिलकर राष्ट्र का विश्व ध्वज बना रहें है।
									और मैं आपको पूर्ण विश्वास दिलाता हूं कि Phase – 1 विकसित भारत 2027 का प्रथम पड़ाव पार करने से पहले ही हम 15 अगस्त 2026 को Phase – 2 पविकसित भारत @ 2031 का उद्घोष कर देंगे।
									लोकतांत्रिक देश में प्रतिनिधियों की स्वीकृति के बिना न तो संसद में कुछ आता है और न ही बिना स्वीकृति के बाहर कुछ जाता है। इसी स्वीकृति की परंपरा को आगे बढ़ाते हुए हम सभी अपने अंतःकरण के तिरंगे को प्रबल करें और साक्षी होकर इसी कालखंड में अपने सामने विकसित भारत देखें।</h6>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="/static/images/india-map.jpg" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0 div1">
						<h2 class="mb-4 section-title">Donate a Flag</h2>
						<p class="popup-btn btn">Click Here</p>
					</div> 

					<!-- Popup start -->
						<!-- popup form start -->
						<div class="popup-overlay" id="popupOverlay">
							<div class="popup" id="popup">
								<span class="close" id="closePopup">&times;</span>
									<div class="popup-content">
										
									<p>Flag Donation Form</p>					
									<input type="email" placeholder="Your email" id="emailInput" required>

									<input type="text" placeholder="First Name" id="firstName" required>
									<select name="country" id="country" onchange="loadStates()" required>
										<option>Select Country</option>
									</select>
									<select name="state" id="state" required>
										<option>Select State</option>
									</select>
									<!-- <select name="city" id="city">
										<option selected>Select City</option>
									</select> -->
									<input type="text" placeholder="Pin Code" id="pinCode" required>
									<input type="text" placeholder="Referral Code" id="refCode" required>
									<button id="form-submit">Submit</button>
									<div>
										<p id="erroMessage"  style="color: red;">
											
										</p>
									</div>
								</div>					
							</div>					
						</div>
						<!-- popup form end  -->

						<!-- submit popup start  -->
							<div class="popup-overlay" id="popupOverlay2">
								<div class="popup" id="popup2">
									<span class="close" id="closePopup2">&times;</span>
										<div class="popup-content-submit">
											<img src="/static/images/greentick.png" alt="tick">
											<p>Thankyou for flag donation</p>
											<p id="refCodeshow"> </p>		
											<button id="share"><img src="/static/images/icons8-whatsapp-48.png" alt="whatsapp"></button>								
									</div>					
								</div>					
							</div>
						<!-- submit popup end  -->
					<!-- popup end -->

					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0 div2">
						<img src="/static/images/india-450_256.gif" class="img-fluid product-thumbnail">
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-6 mb-5 mb-md-0 div3">
						<section class="countdown-container">
  
							<div class="days-container">
							  <div class="days"></div>
							  <div class="days-label">days</div>
							</div>
							
							<div class="hours-container">
							  <div class="hours"></div>
							  <div class="hours-label">hours</div>
							</div>
							
							<div class="minutes-container">
							  <div class="minutes"></div>
							  <div class="minutes-label">minutes</div>
							</div>
							
							<div class="seconds-container">
							  <div class="seconds"></div>
							  <div class="seconds-label">seconds</div>
							</div>

						  </section>
						  <div class="totalFlags">{{count_value}}</div>
					</div>
					<!-- End Column 3 -->


				</div>
			</div>
		</div>
		<!-- End Product Section -->
		
		<!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h2 class="section-title">Our Goals</h2>
					</div>
					<!-- <div class="col-md-6 text-start text-md-end">
						<a href="#" class="more">View All Goals</a>
					</div> -->
				</div>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="/static/images/past-india.png" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Past India</a></h3>								
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="/static/images/present-india2.jpeg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Present India</a></h3>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="/static/images/future-india.jpg" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">Future India</a></h3>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Blog Section -->	

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">


				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">2047 Tiranga Mudra<span>.</span></a></div>
						<p class="mb-4">हम यहाँ पूरे विश्व की सभी दिशाओं में फैले प्रत्येक तिरंगा धारी व्यक्तियों से एक डिजिटल तिरंगा डोनेशन चाहते हैं।</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-4">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-4">
								<ul class="list-unstyled">
									<li><a href="#">Our Goals</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-4">
								<ul class="list-unstyled">
									<li><a href="#">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; <a href="https://acceptstudio.com/">Accept Studio</a></p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="/static/js/bootstrap.bundle.min.js"></script>
		<script src="/static/js/tiny-slider.js"></script>
		<script src="/static/js/custom.js"></script>
		<script src="/static/js/app.js"></script>
	</body>

</html>
