<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
	<link rel="shortcut icon" href="/static/images/Titanga-Mudra-PNG.png" />

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />
	<!-- font link  -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&display=swap" rel="stylesheet">
		<!-- Bootstrap CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
		<link href="/static/css/tiny-slider.css" rel="stylesheet" />
		<link href="/static/css/style.css" rel="stylesheet" />
		<title>Tiranga Mudra</title>
	</head>

	<body>
		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">
			<div class="container">
				<a class="navbar-brand" href="/">2047 Tiranga Mudra<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
				aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li><a class="nav-link" href="/about">About us</a></li>						
						<li><a class="nav-link" href="/ourgoal">Our Goals</a></li>
						<li><a class="nav-link active" href="/contacts">Contact us</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="#"><img src="/static/images/user.svg"></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
						<div class="coin">
							<img src="/static/images/Titanga-Mudra-PNG.png" alt="Titanga-Mudra-PNG" />
						</div>
								<h1>1857 To 2047<span clsas="d-block"> <br>"Voice of Youth"</span></h1>
								<!-- <p class="mb-4">..</p> -->
								<!-- <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p> -->
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
						<img src="/static/images/iflag.png"/>
						<img src="/static/images/chakra.png" class="chakra"/>
						<!-- <div class="chakra"></div> -->
						<!-- <img src="images/Indian-flag67crop.png" class="img-fluid"> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->
         <!-- Start Contact Form -->
		<div class="untree_co-section">
            <div class="container">
      
              <div class="block">
                <div class="row justify-content-center">
      
      
                  <div class="col-md-8 col-lg-8 pb-4">
                    <p>If you have any query then feel free to contact us through this link: <a href="http://www.saralkarma.org" target="_blank"> Click here!</a></p>
                </div>
                
            </div>
      
              </div>
              
            </div>
            
            
        </div>
    </div>
    
    <!-- End Contact Form -->
    <!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">
				<div class="row g-5 mb-5">
					<div class="col-lg-4">
					<div class="mb-4 footer-logo-wrap">
						<a href="#" class="footer-logo">2047 Tiranga Mudra<span>.</span></a>
					</div>
					<p class="mb-4">
						हम यहाँ पूरे विश्व की सभी दिशाओं में फैले प्रत्येक तिरंगा धारी
						व्यक्तियों से एक डिजिटल तिरंगा डोनेशन चाहते हैं।
					</p>

						<ul class="list-unstyled custom-social">
						<li>
							<a href="https://www.facebook.com/profile.php?id=61564194420859" target="_blank"><span
									class="fa fa-brands fa-facebook-f"></span></a>
						</li>
						<li>
							<a href="https://x.com/TirangaMudra" target="_blank"><span class="fa fa-brands fa-twitter"></span></a>
						</li>
							<!-- <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li> -->
						<li>
							<a href="https://www.youtube.com/@TirangaMudra" target="_blank"><span
									class="fa fa-brands fa-youtube"></span></a>
						</li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-4">
								<ul class="list-unstyled">
									<li><a href="/about">About us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-4">
								<ul class="list-unstyled">
									<li><a href="/ourgoal">Our Goals</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-4">
								<ul class="list-unstyled">
									<li><a href="/contacts">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							. All Rights Reserved. &mdash;
							<a href="https://saralkarma.org/" target="_blank">Saral Karma Org.</a>
						</p>
						</div>

					<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="{{ url_for('static', filename='pdfs/Terms and Conditions TM.pdf') }}" target="_blank">Terms &amp; Conditions</a></li>
								<li><a href="{{ url_for('static', filename='pdfs/Privacy Policy TM.pdf') }}" target="_blank">Privacy Policy</a></li>
							</ul>
						</div> 
				</div>
			</div>
			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="/static/js/bootstrap.bundle.min.js"></script>
		<script src="/static/js/tiny-slider.js"></script>
		<script src="/static/js/custom.js"></script>
		<script src="/static/js/app.js"></script>
	</body>

</html>
